p {
  font-weight: bold;
  font-size: 8px;
  width: 100%;
}

.container {
  width: 100%;
  height: 192px;
  max-width: 600px;
  margin: 0px auto;
}

.teste {
  height: 192px;
}

video {
  height: 500px;
}
